<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="static/register1.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <meta name="theme-color" content="rgb(11, 78, 179)">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../i/f/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>One Step Process</title>
    <style>
      
    </style>
  </head>
  <body>
    <form action="/dregister2" class="form" method="POST" enctype="multipart/form-data">
      
      <h1 class="text-center">Register  <span style="color: #ef6d6d">Your Health records</span></h1>
 


    
    <div>
      <div class="input-group">
        <input type="number" name="dheight" id="dheight" placeholder="Height" step="0.5"/>
      </div>
    </div>
    <div>
      <div class="input-group">
        <input type="number" name="dweight" id="dweight" placeholder="Weight" step="0.5"/>
      </div>
    </div>
    <div>
      <div class="form-step">
          <div class="input-group">
              <input type="'text" name="dedulevel" id="dedulevel" placeholder="Enter you education level" list="statusdrop"/>
          </div>
      </div>
    </div> 
    <div>
      <div class="input-group">
        <input type="number" name="dlicensenumber" id="dlicensenumber" placeholder="Medical License Number"/>
      </div>
    </div>
    
    <div>
      <div class="input-group">
        <input type="number" name="dexperience" id="dexperience" placeholder="Work Experience" step="0.5"/>
      </div>
    </div>
    <div>
      <div class="input-group">
        <input type="text" name="dpreinstitution" id="dpreinstitution" placeholder="Previosly worked Institution"/>
      </div>
    </div>
    <div class="form-type">
      <div class="input-group">
          <button type="submit" value="REGISTER">REGISTER</button>
      </div>
    </div>
    </form>
    </body>
    </html>
