<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Management System</title>
    <link
      rel="stylesheet"
      href="../static/style1.css"
    />
  </head>
  <body>
    <div class="form1">
      <form method="POST" enctype="multipart/form-data" action="http://127.0.0.1:5000/register">
        <h1>User Profile</h1>
        <br />
        <div id="flex-container">
          <b>
            <label>{{ uname }}</label>
            <input type="text" name="uname" placeholder="enter" /> <br /><br />
            <label>{{ uage }}</label>
            <input type="number" name="uage" placeholder="enter" />
            <br /><br />
            <label>{{ smoke }}</label>
            <input type="number" name="uid"placeholder="enter"/>
            
            
            <br /><br />
            <label>{{ id }}</label>
            <input type="text" name="usmoke" placeholder="enter"/>
            <br /><br />
            <label>Alcoholism</label>
            <input type="text" name="ualc" placeholder="enter"/>
            <br />
            <br />
            
            <label>Tobocco</label>
            <input type="text" name="utob" placeholder="enter"/>
            <br />
            <label>Financially stable</label>
            <input type="text" name="ufin" placeholder="enter"/>
            <br />
            <label>Password</label>
            <input type="text" name="upassword" placeholder="enter"/>
            <br />
          </b>
          <input type="submit" , value='GO' >
        </div>
      </form>
    </div>
  </body>
</html>
