<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Analysis Bubble</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="static/analysis.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <header>
            <div class="brand-header">
                <div class="brand-logo"><i class="fa-duotone fa-chart-scatter-bubble"
                        style="--fa-primary-color: #57db4d; --fa-secondary-color: #1d60d3;"></i></div>
                <div class="brand-name">Bubble Health Analysis</div>
            </div>
            <div class="user-header"><a href="http://127.0.0.1:5000/appointments"><button class="app"><h2>BOOK APPOINTMENT</h2></button></a></div>
        </header>

        <div class="services">
            <p class="service-text"><u>Respiratory Rate Analysis Report</u></p><br>
            <div class="analysis">
                <div class="chart">
                    
                    <img src="data:image/png;base64,{{ image_base64_4 }}" alt="Chart">
                    
                </div>
            </div>
         
            </div>


            <p style="color: #808080;font-size: 1.2rem;font-weight: 500;">Suggestions:</p>
            <p style="font-size: 1.2rem;font-weight: 500;">
                
{% if ((urr >= 12) and (urr <= 16)) %}
<h1>Your Respiratory rate is normal</h1>
{% elif (urr < 12) %}
<h1>Your Respiratory rate is lower than normal</h1>
{% elif (urr > 16) %}
<h1>Your Respiratory rate is higher than normal</h1>
{%endif%}
            </p>
          
        </div>

    </main>
   

</body>

</html>



