<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href='static/syle.css'>
</head>

<body>
    <input type='checkbox' id='nav-toggle'>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1>
                <span class="lab la-accusoft"></span> 
                <span>   </span>
                <!-- <span>Accusoft</span> -->
            </h1>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>

                    <a href="http://127.0.0.1:5000/index" class="active">&nbsp;<span class="las la-igloo">Home</span></a>
      
                </li>
                <li onclick="showSection('section1')">Summary</li>
 
                <li onclick="showSection('section2')">Personal Details</li>

                </li>
                <li onclick="showSection('section3')">Health records</li>
                <li onclick="showSection('section4')">Edit Profile</li>
                <li></li>
                
                
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
             
                Wellness Dashboard
            </h2>
            <div class="user-wrapper">
                <div>
           
                    <h4>Welcome {{ name }}</h4>
                    
                </div>
            </div>
        </header>

        <br><br>
        <div id="section1" class="section">
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1></h1>
                        <span>Appointments</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1></h1>
                        <span>Medical Reports</span>
                    </div>
                    <div>
                        <span class="las la-clipboard-list"></span>
                    </div>
                </div>
                <a href="http://127.0.0.1:5000/button">
                <div class="card-single">
                    <div>
                        <h1></h1>
                        <span>Health graphs</span>
                    </div>
                    <div>

                        <img src="static/data.jpeg" width="50px" height="50px" style="margin-left: 20px;">
                    </div>
                </div>
            </a>
                <a href="http://127.0.0.1:5000/feedback">
                <div class="card-single">
                    <div>
                        <h1></h1>
                        <span>Send Feedback</span>
                    </div>
                    <div>
                        <img src="static/feedback.png" width="50px" height="50px" style="margin-left: 20px;">
                    </div>
                </div>
            </a>
            </div>
            <div class="recent-grid">
                <div class="project">
                    <div class="card">
                        <div class="card-header">
                            <h3>My Appointments </h3>
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Id</td>
                                            <td>Doc_name</td>
                                            <td>date</td>
                                            <td>Status</td>
                                            <td>Time</td>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                            {% for appt in appointment %}
                                            <tr>
                                                <td>{{ appt.app_id }}</td>
                                                <td>{{ appt.doc_name }}</td>
                                                <td>{{ appt.app_date }}</td>
                                                <td>{{ appt.status }}</td>
                                                <td>{{ appt.time }}</td>
                                            </tr>
                                            {% endfor %}  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
        
    </div>
        <div id="section2" class="section" >

             <div class="container">
                 <br>

               <div class="profile">
                <br>   <center>
                 <img src="static/{{ profile_pic }}" alt="User Profile Image" width="100px" height="80px">
                 </center>
              </div>
                <div class="details">
                      <span class="label">Name</span>
                      <span class="value">{{ name }}</span>
                </div>
                <div class="details">
                      <span class="label">D.O.B</span>
                      <span class="value">{{ dob }}</span>
                </div>
                <div class="details">
                      <span class="label">Gender</span>
                      <span class="value">{{ gender }}</span>
                </div>
                <div class="details">
                      <span class="label">Email</span>
                      <span class="value">{{ email }}</span>
                </div>
                <div class="details">
                      <span class="label">DoorNo</span>
                      <span class="value">{{ doorno }}</span>
                </div>
                <div class="details">
                    <span class="label">City</span>
                    <span class="value">{{ city }}</span>
                </div>
                <div class="details">
                    <span class="label">Country</span>
                    <span class="value">{{ country }}</span>
                </div>
                <div class="details">
                    <span class="label">Zipcode</span>
                    <span class="value">{{ zipcode }}</span>
                </div>
                <div class="details">
                    <span class="label">Phone</span>
                    <span class="value">{{ phone }}</span>
                </div>
                <div class="details">
                    <span class="label">Occupation</span>
                    <span class="value">{{ occupation }}</span>
                </div>

                <div class="details">
                    <span class="label">EmergencyContactName</span>
                    <span class="value">{{ emername }}</span>
                </div>
                <div class="details">
                    <span class="label">EmergencyContactNumber</span>
                    <span class="value">{{ emernumber }}</span>
                </div>

                <div class="details">
                    <span class="label">Education</span>
                    <span class="value">{{ education }}</span>
                </div>
                <div class="details">
                    <span class="label">MaritalStatus</span>
                    <span class="value">{{ maritalstatus }}</span>
                </div>
            </div>
        </div>
        <div id="section3" class="section" >

            <div class="container">
                <br><br>
              <center>  <img src="static/{{ profile_pic }}" alt="User Profile Image" width="100px" height="80px"></center>
                <br>
               <div class="details">
                     <span class="label">Email</span>
                     <span class="value">{{ emailh }}</span>
               </div>
               <div class="details">
                     <span class="label">Height</span>
                     <span class="value">{{ heighth }}</span>
               </div>
               <div class="details">
                     <span class="label">Weight</span>
                     <span class="value">{{ weighth }}</span>
               </div>
               <div class="details">
                   <span class="label">Surgery</span>
                   <span class="value">{{ surgeryh }}</span>
               </div>
               <div class="details">
                   <span class="label">Allergy</span>
                   <span class="value">{{ allergyh }}</span>
               </div>
               <div class="details">
                   <span class="label">Chronic</span>
                   <span class="value">{{ chronich }}</span>
               </div>
               
               <div class="details">
                   <span class="label">Drugs</span>
                   <span class="value">{{ drugsh }}</span>
               </div>
       
               <div class="details">
                   <span class="label">Tobacco</span>
                   <span class="value">{{ tobaccoh }}</span>
               </div>
               
           </div>
    </div>
       <div class="section" id="section4"><br>
        <div class="container"> 
            <center><h2>EDIT MY PROFILE</h2></center>
            <br><br>
            <div class="form-container">
                <form action="/city" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>City</span><span class="val">{{ city }}</span></label>
                    <input type="text"  name="city" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/country" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Country</span><span class="val">{{ country }}</span></label>
                    <input type="text"  name="country" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/zipcode" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Zip Code</span><span class="val">{{ zipcode }}</span></label>
                    <input type="text"  name="zipcode" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/phone" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Phone</span><span class="val">{{ phone }}</span></label>
                    <input type="number"  name="phone" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/occupation" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Work</span><span class="val">{{ occupation }}</span></label>
                    <input type="text"  name="occupation" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/emername" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Contact</span><span class="val">{{ emername }}</span></label>
                    <input type="text"  name="emername" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/emernumber" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Emergency Phone</span><span class="val">{{ emernumber }}</span></label>
                    <input type="number"  name="emernumber" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/education" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Education</span><span class="val">{{ education }}</span></label>
                    <input type="text"  name="education" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <form action="/maritalstatus" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Status</span><span class="val">{{ maritalstatus }}</span></label>
                    <input type="text"  name="ms" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
        <!--        <form action="/password" method="POST" enctype="multipart/form-data"> 
                    <label for="m"><span>Key</span><span class="val">{{ upass }}</span></label>
                    <input type="password"  name="password" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                -->
                <form action="/doorno" method="POST" enctype="multipart/form-data"> 
                    <label for="m"> <span>Door</span><span class="val">{{ doorno }}</span></label>
                    <input type="text"  name="doorno" id="m">
                    <button type="submit" id="editButton">Edit</button>
                </form>
                <br>
                <form action="/deletekaro" method="POST" enctype="multipart/form-data">
                    <button class="btn" type="submit">Delete Account</button>
                </form>
            </div>     
       </div>
       </div>

</div>   



    <script>
           window.onload = function() {
      var section1 = document.getElementById("section1");
      if (section1) {
        section1.style.display = "block";
      }
    };
    function showSection(sectionId) {
        // Hide all sections
        var sections = document.getElementsByClassName("section");
        for (var i = 0; i < sections.length; i++) {
          sections[i].style.display = "none";
          sections[i].style.marginTop = "0";
          
        }
        
        // Show the selected section
        var section = document.getElementById(sectionId);
        section.style.display = "block";
        section.style.marginTop = "0";
        
      }
    </script>
</body>

</html>